@tailwind base;

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: ghostwhite;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 14px;
    border: 1px solid grey;
}

@tailwind components;
@tailwind utilities;